
.headingctn {

    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}


.getText {
    font-size: 15px;
    color: white;
    font-weight: 400;
}

#aboutme {

    font-size: 24px;
    color:aqua;
    font-weight: 600;
    font-family: 'Poppins';
}


/* .container-portfolio{

    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    background-color: #00bfff;
} */


.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:1rem;
    width: 80%;

}


.portfolio_item_projects {
    position: relative;
    background:transparent;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid grey;
    box-shadow: 0px 0px 0px -15px;
    animation: ease-in-out;
    transition: ease-in-out 400ms;

}

.portfolio_item_projects:hover{

    border-color: darkgreen;
    transform: scale(1.05);
    background: rgba(100, 100, 100, 0.5);
}



.portfolio_item-image_projects {
border-radius: 1.5rem;
overflow: hidden;
height: 45vh;
width: auto;
background-color: #00bfff;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta{

    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

/* img{
    width: 100%;
    object-fit: contain;
} */






.mini_description{
    background-color: transparent;
    height: 20vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 1vh;

}



.button-ctn {

    border-radius: 5px;
    border-width: 20px;
    background-color:transparent;
    border: 1.5px solid #00bfff;
    height: 6vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button-ctn:hover {

    border-radius: 5px;
    border-width: 20px;
    background-color:  #00bfff;
    border: 0px solid  aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 200ms;

}

.button {

    border-radius: 5px;
    border-width: 20px;
    background-color:transparent;
    border: 1.5px solid #00bfff;
    height: 6vh;
    width: 10vw;
    transition: ease-in-out 200ms;
    height: 100px;

}

.button:hover {
    border-radius: 5px;
    border-width: 20px;
    background-color:  #00bfff;
    border: 0px solid  aquamarine;
    transition: ease-in-out 200ms;

}


.project_heading{

    font-size:larger;
    font-family: Rajdhani-Regular;
    margin-bottom: 4vh;
    font-weight:bold;
}



















/* MEDIA QUERIESS */

@media screen  and (max-width : 1024px){
    
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:1.2rem;
    
    }
}










/* MEDIA QUERIES FOR SMALLER DEVOCES */
@media screen  and ( max-width : 600px){

    .portfolio_container {
        grid-template-columns:1fr;
        gap:1rem;
    
    }

}
















/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {




}