.heading-ctn {

    background-color: transparent;
    width: 100%;
    /* border-width: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
}

.getText {
    font-size: 15px;
    color: white;
    font-weight: 400;
    

}

#aboutme {

    font-size: 23px;
    color:aqua;
    font-weight: 600;
    font-family: 'Poppins';
}

.about-container {
    /* display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%; */
    background-color: blanchedalmond;
    



}

.about__me {
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(45deg , transparent , #228b22  );
    display: grid;
    place-items: center;

}

.about__me-image {

    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: ease-in-out 200ms;
    width: 20rem;
    height: 20rem;
    margin-left: 7%;

}


.about__me-image:hover {

    transform: rotate(0deg);

}


.container {

    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}

.about_content {

    width: 50%;
    
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap : 1.5rem;
    width: 40%;
    margin-left: 34%;
}

.about_card {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    background-color:steelblue;
    text-align: center;
    transition: ease-in-out 400ms;
    opacity: 0.8;
}

.about_card:hover{

    background: transparent;
    cursor: default;
    opacity:1;

}

.about_container {

    display: flex;
    flex-direction: row;
    width:100%;
    
}

.about-text {
    text-align: center;
    width:100%;
    /* height: 10rem; */
}


.aboutText{

    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins';
    text-align: center;
    width: 40%;
    margin-left: 5%;
    margin-top: 4rem;

}

.talkbtn {

    background-color: transparent;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
}

.talkbtn:hover{

    background-color:darkturquoise;
    color: white;

}


.about_textctn{

    background-color:dimgray;
    width: 20%;
}

.title-ctn{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}


.title-subctn{

    display: flex;
    flex-direction: column;
    width: auto;
    border: 0.1rem solid  #228b22 ;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
}



.topic-name{
    text-align: left;
}