#experience{

    margin-left: 0rem;
}
.heading-ctn {

    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}


.getText {
    font-size: 15px;
    color: white;
    font-weight: 400;
}

#aboutme {

    font-size: 22px;
    color:aqua;
    font-weight: 600;
    font-family: 'Poppins';
}


.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0rem;
    place-items: center;

}


.experience_container > div {

    background-color: transparent;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid grey;
    transition: ease-in-out 300ms;
    width: 80%;
}

.experience_container > div:hover{

    background-color: rgba(100, 100, 100, 0.5);;
    border-color:blueviolet;
    cursor: default;

}

.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.experience_content {

    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

}

.experience_details {
    display: flex;
    gap: 1rem;
}

.experience_details-icon {

    margin-top: 6px;
    color: dodgerblue;
    
}


.title-ctn{

    display: flex;
    justify-content: center;
    align-items: center;
}


.title-subctn{

    display: flex;
    flex-direction: column;
    width: auto;
    border: 0.1rem solid  #228b22 ;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
}






/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {



    .experience_container {
        display: grid;
        grid-template-columns: 1fr;
        gap:2vh;
        /* place-items: center; */
    
    }

    .experience_container > div {

        background-color: transparent;
        padding: 12vw 10vw;
        border-radius: 2rem;
        border: 1px solid grey;
        transition: ease-in-out 300ms;
        width: 95vw;
    }


    .experience_content {

        display:grid;
        grid-template-columns: 1fr 1fr;
        /* row-gap: 2rem; */
        width: 80vw;
        gap: 8vw;
    
    }
}