@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: rajdhani-bold;
  src: url(../src/assets/fonts/Rajdhani/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: rajdhani-light;
  src: url(../src/assets/fonts/Rajdhani/Rajdhani-Light.ttf);
}
@font-face {
  font-family: rajdhani-medium;
  src: url(../src/assets/fonts/Rajdhani/Rajdhani-Medium.ttf);
}

@font-face {
  font-family: rajdhani-regular;
  src: url(../src/assets/fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: rajdhani-semibold;
  src: url(../src/assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf);
}



@font-face {
  font-family: lato-black;
  src: url(../src/assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: lato-regular;
  src: url(../src/assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(../src/assets/fonts/Lato/Lato-Light.ttf);
}