.mainCtn{
    display: flex;
    background-color:cadetblue;
    justify-content: center;
    margin-top: 0rem;
    height: 100vh;
}

.subCtn {
    background-color:transparent;
    text-align: center;   
    width: 80%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

   
}




#helloTag {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight:300;
    color: white;
    text-align: left;

}

#name {
    color: white;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight:500;
    text-align: left;


}

#profession {

    font-family: 'Poppins';
    font-size: 16px;
    font-weight:500;
    color: white;
    opacity: 0.7;
    margin-bottom: 2rem;
    text-align: left;
    margin-top: 2rem;

}


#header-socials {

    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40%;
    left: 6rem;
    

}


.me {

    background-color: transparent;
    width: 35rem;
    height: 35rem;
    /* position: absolute; */
    left:calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0 ;
    margin-left: 30%;


}


.typewriterCtn{ 

    margin-bottom: 1rem;

}





/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {






}





.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(../../assets/images/background.png);
}

#mountain {
  background-image: url(../../assets/images/mountains.png);
}

#logoland {
  background-image: url(../../assets/images/logo_land.png);
}

#jungle1 {
  background-image: url(../../assets/images/jungle1.png);
}

#jungle2 {
  background-image: url(../../assets/images/jungle2.png);
}

#jungle3 {
  background-image: url(../../assets/images/jungle3.png);
}

#jungle4 {
  background-image: url(../../assets/images/jungle4.png);
}

#jungle5 {
  background-image: url(../../assets/images/jungle5.png);
}

#manonmountain {
  background-image: url(../../assets/images/man_on_mountain.png);
}
 



/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {


    .subCtn {
        background-color:transparent;
        width: 90%; 
   
    }

    #name {
        color: white;
        font-family: 'Poppins';
        font-size: 26px;
        font-weight:500;
        text-align: left;
    
    }




    #header-socials {

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4%;
        right: 0vh;
        display: none;
        
    
    }




    .me {

        background-color: transparent;
        width: 35rem;
        height: 35rem;
        /* position: absolute; */
        left:calc(50% - 11rem);
        margin-top: 4rem;
        border-radius: 12rem 12rem 0 0 ;
        margin-left: 30%;
        display: none;
    
    
    }

    #profession {
        font-size: 12px;
        
    
    }



}